body {
  margin: 0;
  font-family: Arial;
}

.alerts-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 280px;
}

.alert-card {
  background: #2a0f0f;
  color: #ff4d4d;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border-left: 4px solid red;
}